/* 
'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
*/


header{
    background-color: #289688;
}

main{
    background-color:#289688;
}

body{
    background-color:#289688;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FCEA3E;
    font-size: 45px  ;


}

.fotos{
    text-align: center;
}

img{
    border: 10px solid white;
    

}


.barcelona{
    height: auto;
    margin: 5px;
}

.buenos-aires{
    height: auto;
    margin: 5px;
}

.madrid{
    height: auto;
    margin: 5px;

}

.miami{
    height: auto;
    margin: 5px;
}

.paris{
    height: auto;
    margin: 5px;
}

.pipa{
    height: auto;
    margin: 5px;
}

.rio-de-janeiro{
    height: auto;
    margin: 5px;
    
    
}

.roma{
    height: auto;
    margin: 5px;
}

.rosario{
    height: auto;
    margin: 5px;
}

.tokio{
    height: auto;
    margin: 5px;
    
}