/*Las tipografías utilizadas son:

- 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
- Impact, Charcoal, sans-serif (TITULO)
- Arial, Gadget, sans-serif 

- 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif RESTAURANTES */



header{
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(53, 76, 104);
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 55px;
    
}
main{
    background-color: rgb(53, 76, 104);

}

body{
    background-color: rgb(53, 76, 104);
}

p{
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

.aspiradoras{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: rgb(211, 186, 149);

}

.img1{
    border: 3px solid rgb(211, 186, 149);
    position: relative;
    left: 40px;
}

.celulares{
    
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: rgb(124, 194, 226);

}

.img2{
    border: 3px solid rgb(124, 194, 226);
    position: relative;
    left: 40px;
}

.consolas{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: rgb(170, 179, 184);
}

.img3{
    border: 3px solid rgb(170, 179, 184);
    position: relative;
    left: 40px;
}

.hometheaters{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: rgb(65, 101, 121);
    
}

.img4{
    border: 3px solid rgb(65, 101, 121);
    position: relative;
    left: 40px;
}

.televisores{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: rgb(155, 167, 173);
}

.img5{
    border: 3px solid rgb(155, 167, 173);   
    position: relative;
    left: 40px;
}