/*Las tipografías utilizadas son:

- 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
- Impact, Charcoal, sans-serif (TITULO)
- Arial, Gadget, sans-serif */



header{
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(24, 24, 82);
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    
}
main{
    background-color: rgb(24, 24, 82);

}

body{
    background-color: rgb(24, 24, 82);
}

p{
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}