/*Las tipografías utilizadas son:

- 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
- Impact, Charcoal, sans-serif (TITULO)
- Arial, Gadget, sans-serif 

- 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif RESTAURANTES */



header{
    background-color: white ;
}

h1{
    color: #698593 ;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 55px;
    
}
main{
    background-color: #273238;

}

body{
    background-color: #273238 ;
}

p{
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

.aspiradoras{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #E6CCBE ;

}

.img1{
    border: 3px solid  #E6CCBE ;;
    position: relative;
    left: 40px;
}

.celulares{
    
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #A1C1CC;

}

.img2{
    border: 3px solid #A1C1CC;
    position: relative;
    left: 40px;
}

.consolas{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #BCBDBF;
}

.img3{
    border: 3px solid #BCBDBF;
    position: relative;
    left: 40px;
}

.hometheaters{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #8D94A1;
    
}

.img4{
    border: 3px solid #8D94A1;
    position: relative;
    left: 40px;
}

.televisores{
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #B2B2AA;
}

.img5{
    border: 3px solid #B2B2AA;  
    position: relative;
    left: 40px;
}